<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user}"></title>
</head>
<body>
<form th:method="POST" th:action="@{/user-update}" th:object="${user}">
    <label for="id">ID: </label>
    <input readonly type="number" th:field="*{id}" id="id"/>
    <br>
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="age">Возраст: </label>
    <input type="number" th:field="*{age}" id="age" min="0" oninput="validity.valid||(value='');"/>
    <br>
    <input type="submit" value="Сохранить изменения">
</form>
</body>
</html>